body{
    background-color: #242124;
    height:425vh;
}

.text{
    font-size:30px;
    color:#ffffff;
    position: absolute;
    left:45%;
    text-decoration:underline ;
}
.text1{
    color:#D31A38;
    font-size:26px;
    position: absolute;
    top:15vh;
    left:90vh;
    font-family: "Times New Roman";

}
.image1{
    left:13vh;
    position: relative;
}
table{
    width:600px;
    position: absolute;
    left:70vh;
    top:26vh;

}
td{
    font-size:16px;
}

th{
     color:#D31A38;
     font-size:22px;
     text-align:  center;

}
table,th,td {
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

th,td {
    padding:10px;
}
#name{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name1{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name2{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name3{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name4{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name5{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}

/*-------------------------------------------------------------------*/
#transition{
    position: absolute;
    left:70vh;
    top:30%;
}

.text2{
    color:#D31A38;
    font-size:26px;
    position: absolute;
    top:118vh;
    left:90vh;
    font-family: "Times New Roman";
}
#name6{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name7{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name8{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name9{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}

/*-----------------------------------------------------------------*/
#animation{
    position: absolute;
    left:70vh;
    top:48%;
}

.text3{
    color:#D31A38;
    font-size:26px;
    position: absolute;
    top:195vh;
    left:90vh;
    font-family: "Times New Roman";
}

#name10{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}

#name11{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name12{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name13{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
/*----------------------------------------------*/

#js{
    position: absolute;
    left:70vh;
    top:80%;
}

#name20{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name21{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name22{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name23{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}
#name24{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}

.jsc{
    color:#D31A38;
    font-size:26px;
    position: absolute;
    left:80vh;
    top:78%;
    font-family: "Times New Roman";
}

/*------------------------------------------------------------*/

#name30{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}

#freamwork{
    position: absolute;
    left:70vh;
    top:66%;
}
.cssf{
    color:#D31A38;
    font-size:26px;
    position: absolute;
    left:80vh;
    top:64%;
    font-family: "Times New Roman";
}

#name31{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}

#name32{
    font-size:20px;
    color:#ffffff;
    position: relative;
    left:8%;
}