*{
    scroll-behavior: smooth;
}
body{
    position: relative;
    /*background-color: #242124;*/
}
/*header{*/
header {
    width: 100vw;
    height: 60px;
    position: fixed;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    left: 8%;
    top: 0;
    z-index: 10;
    /* background-color: black; */
}
    /*background-color: black;*/
/*}*/
header>nav>ul{
    position: absolute;
    top: 45%;
    left: 480px;

}
header>nav>ul>li {
    display: inline-block;
    margin-right: 3px;
    border-right: 20px;
    font-size: 15px;
    color: white;
}
header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    margin-left: 9px;
    font-weight: bold;
    transition: .3s ease;
}
header>nav>ul>li>a:hover,header>nav>ul>li>a.home{
    color: #D31A38;
}
.name{
    font-size:18px;
    color: white;
    font-weight: 600;
    cursor: default;
    top: 65%;
    left:5%;
    text-decoration: none;
    position: absolute;
}

span{
    color: #D31A38;
}
/*-------------------------------------homepage-------------------------------------*/
.home-page{
    height: 100vh;
     width: 100%;
    background-size: 100vw 120vh;
    background-color: #242124;
    position: relative;
    /*background-image: url("../../assets/image/istockphoto-629867138-612x612.webp");*/
    /*overflow-x: hidden;*/
    /*font-size: 0;*/

}

.div1 h1{
    font-size: 40px;
    color: white;
}
.oneee{
    top:32%;
    left: 16%;
    position: absolute;
    font-family: "Times New Roman";
    letter-spacing: 2px;

}
.twooo{
    top: 38%;
    position: absolute;
    left: 16%;
    font-family: "Times New Roman";
    letter-spacing: 2px;
}
.threee{
    font-size:23px;
    color: white;
   font-family: "Libre Baskerville, serif";
    top:42%;
    left: 20%;
    position: absolute;
    letter-spacing: 0.5px;
}
.imge30{
    transition: 3s;
    position: absolute;
    bottom: 30%;
    left: 70%;
}
.imge30:hover{
    transform: scale(1.15, 1.15);
    z-index: 2;
}
.social-media a{
    display:flex ;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background:transparent;
    border: 2px solid #D31A38;
    border-radius: 50%;
    font-size: 2rem;
    color: #D31A38;
    transition: .5s ease;

}
.social-media a:hover{
    background: #D31A38;
    color: #242124;
    box-shadow: 0 0 1rem #D31A38;

}
.fb{
    position: absolute;
    left: 25%;
    top:70%
}
.linkedin{
    position: absolute;
    top: 70%;
    left: 30%;
}
.git{
    position: absolute;
    top: 70%;
    left: 35%;
}
/*-------------------------About Me--------------------------------------*/
main>section:nth-child(2){
    height: 100vh;
    width: 100%;
    background-size: 100vw 100vh;
    background-color: #373030;
    position: relative;
    font-size: 0;
}
.about{
    position: absolute;
    color: white;
    font-size: 40px;
    font-family: "Times New Roman";
    left: 49%;
    top: 8%;

}
.me{
    position: absolute;
    left: 5%;
    top:10%;
}
.informations{
    color: white;
    font-size: 25px;
    font-family: Libre Baskerville, bolt;;
}
.details1{
    position: absolute;
    top:53%;
    left:50%;
    font-family: Libre Baskerville, sans-serif;
    font-size: 23px;

}
.details2 {
    position: absolute;
    top: 20%;
    /* color: white; */
    font-family: Libre Baskerville, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 5vh;
    color: white;
    left: 50%;
}
.details1 span{
    color: white;
}

.cv{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #D31A38;
    left: 100%;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #D31A38;
    position: absolute;
    width: 100px;
    height: 100px;

}
/*-------------------------Contact Me-----------------------------------*/
main>section:nth-child(3){
    height: 100vh;
    width: 100%;
    background-size: 100vw 100vh;
    background-color: black;
    position: relative;
    font-size: 0;
    /*background-image: url("../image/Rectangle 57 (6).png");*/
    /*background-size: 80%;*/
    /*background-repeat: no-repeat;*/
    /*rotation:180deg;*/
}
.h2{
    color: white;
    position: absolute;
    font-size: 40px;
    right: 5%;
    top: 0;
}

.location{
    position: absolute;
    bottom: 70%;
    left: 12%;
}
.tele{
    position: absolute;
    bottom: 54%;
    left: 12%;
}
.linkedinnn2{
    position: absolute;
    bottom: 37%;
    left: 12%;
}
.email{
    position: absolute;
    bottom: 20%;
    left: 12%;
}
.a1{
    position: absolute;
    bottom: 69%;
    left: 20%;
    color: #D31A38;
    font-size: 16px;
    text-decoration: none;
}
.a2{
    position: absolute;
    bottom: 53%;
    left: 20%;
    color: #D31A38;
    font-size: 16px;
    text-decoration: none;
}
.a3{
    position: absolute;
    bottom: 36%;
    left: 20%;
    color: #D31A38;
    font-size: 16px;
    text-decoration: none;
}
.a4{
    position: absolute;
    bottom: 19%;
    left: 20%;
    color: #D31A38;
    font-size: 16px;
    text-decoration: none;
}
/*---------------------------slills-------------------------------------------------*/
main>section:nth-child(4){
    height: 120vh;
    width: 100%;
    background-size: 100vw 100vh;
    background-color: #373030;
    position: relative;
    font-size: 0;
}
main>section:nth-child(4)>h3{
    /*text-decoration: underline white;*/
    font-size: 40px;
    color: white;
    bottom: 85%;
    position: absolute;
    right: 85%;
    font-family: "Times New Roman";

}
.ui{
    position: absolute;
    height: 250px;
    width: 400px;
    background-color: #242124;
    left: 15%;
    top:15%;
    color:white;
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 15px;
}
.ui:hover{
    transition-duration: 3s;
    transition-property:all;
    border: 4px solid #D31A38 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}
.web{
    position: absolute;
    height: 250px;
    width: 400px;
    background-color: #242124;
    left: 55%;
    color:white;
    transition-duration: 3s;
    transition-property:all;
    transition: 3s;
    border-radius: 15px;
    top:15%;
}
.web:hover{
    transition-duration: 3s;
    transition-property:all;
    border: 4px solid #D31A38 ;
    transform: scale(1.08, 1.08);
    z-index: 2;
}
.design1{
    position: absolute;
    left: 35%;
}
.leter{
    position: absolute;
    font-size: 18px;
    font-family: "Times New Roman";
    left: 35%;
    top: 33%;
    color: white;
}
.ppp{
    position: absolute;
    font-size: 15px;
    color:white;
    font-family: "Lucida Sans";
    left: 15%;
    top:50%;
}

.design2{
    position: absolute;
    left: 35%;
}

.leter1{
    position: absolute;
    left: 35.5%;
    top:35%;
    font-size: 18px;
}
.ppp2{
    position: absolute;
    font-size: 15px;
    color:white;
    font-family: "Lucida Sans";
    left: 15%;
    top:50%;
}
.leter3{
    position: absolute;
    color: white;
    font-size: 15px;
    font-family:"Lucida Sans";
    bottom:30%;
    left: 15%;
}
.leter2{
    position: absolute;
    color: white;
    font-size: 15px;
    font-family:"Lucida Sans";
    bottom:38%;
    left: 15%;
}
.pic{
    position: absolute;
    right: 45%;
    bottom: 15%;
}

.pic1{
    position: absolute;
    right: 15%;
    bottom: 15%;
}
.php{
    position: relative;
    right:41px;
    transition: 3s;
    top:40px;
}
.php:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}
.mysql{
    position: relative;
    right: 20px;
    transition: 3s;
    top:40px;
    left: 25px;
}
.mysql:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}
.scnebuilder{
    position: relative;
    transition: 3s;
    top:40px;
    left: 25%;
}
.scnebuilder:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}
.intellj{
    position: relative;
    transition: 3s;
    top:40px;
    /*right: 35px;*/
}
.intellj:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}
.figma{
    position: relative;
    transition: 3s;
    top:40px;
    right: 38px;
}
.figma:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}
.java{
    position: relative;
    transition: 3s;
    top:40px;
    right: 80px;
}
.java:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}
.js{
    position: relative;
    transition: 3s;
    right: 120px;
    top:40px;
}
.js:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}

/*--------------------------------------gallery----------------------------------------*/
main>section:nth-child(5){
    height: 100vh;
    width: 100%;
    background-size: 100vw 100vh;
    background:url("../image/WhatsApp Image 2023-06-28 at 02.07 5.png");
    position: relative;
    font-size: 0;
}
.gallery{
    font-size: 40px;
    color: white;
    position: absolute;
    font-family: "Times New Roman";
    left: 60%;
}
.collage{
    /*border-style: solid;*/
    /*border-image: linear-gradient(top,#D31A38,#ffffff) 1;*/
    border:4px solid #D31A38;
    transition: 3s;
    top:15%;
    left: 5%;
    position: absolute;
}
.collage:hover{
    transform: scale(0.5, 0.5);
    z-index: 2;
}
/*---------------------------education-------------------------------------------------*/
main>section:nth-child(6){
    height: 100vh;
    width: 100%;
    background-size: 100vw 100vh;
    background:black;
    position: relative;
    font-size: 0;
}
main>section:nth-child(6)>h3{
    font-size: 40px;
    color: white;
    bottom: 80%;
    position: absolute;
    right: 85%;
    font-family: "Times New Roman";
    left:8%;
}

.school {
    background-color: white;
    width: 350px;
    height: 85px;
    font-size: 16px;
    right: 0;
    bottom: 0;
    top: 23%;
    left: 13%;
    /* margin: auto; */
    position: relative;
    border: 2px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 10px;
    display: inline-block;
}
.school:hover{
    box-shadow: 0px 3px 8px 0px #ccc;
    border: 1px solid transparent;
}
#EDUCATION h5{
    color: #D31A38;
    font-size: 17px;
    font-family: "Times New Roman";
}
.leter9{
    position: relative;
    left:10px;
    top:3%;
    color:black;
    font-family: "Times New Roman";
    font-size: 20px;
}
.leter10{
    position: absolute;
    left:10px;
    bottom:5%;
    top:25%;
    color: black;
    font-family:"Times New Roman";
    font-size: 20px;
}
.date1{
 position: absolute;
    bottom: 38%;
    left: 10px;
    /*color: #D31A38;*/
}
.line {
    position: absolute;
    height: 380px;
    width: 2px;
    background-color: gray;
    /* bottom: 8%; */
    top: 25%;
    left: 10%;
}
.circle {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #D31A38;
    border-radius: 50%;
    left: 128px;
    bottom: 75%;
}
.ol {
    background-color: white;
    width: 350px;
    height: 85px;
    font-size: 16px;
    bottom: 0;
    top: 53%;
    left: -13%;
    /* margin: auto; */
    position: relative;
    border: 2px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 10px;
    display: inline-block;
}
.ol:hover{
    box-shadow: 0px 3px 8px 0px #ccc;
    border: 1px solid transparent;
}
.date2{
    position: absolute;
    bottom: 38%;
    left: 10px;
}
.leter11{
    position: relative;
    left:10px;
    top:3%;
    color:black;
    font-family: "Times New Roman";
    font-size: 20px;
}
.leter12{
    position: absolute;
    left:10px;
    bottom:5%;
    top:25%;
    color: black;
    font-family:"Times New Roman";
    font-size: 20px;
}
.circle1 {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #D31A38;
    border-radius: 50%;
    left: 128px;
    bottom: 45%;
}
.al {
    background-color: white;
    width: 350px;
    height: 85px;
    font-size: 16px;
    right: 0;
    bottom: 0;
    top: 82%;
    left: -39%;
    border-radius: 10px;
    /* margin: auto; */
    position: relative;
    border: 2px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    display: inline-block;
}
.al:hover{
    box-shadow: 0px 3px 8px 0px #ccc;
    border: 1px solid transparent;
}
.date3{
    position: absolute;
    bottom: 38%;
    left: 10px;
}
.leter13{
    position: relative;
    left:10px;
    top:3%;
    color:black;
    font-family: "Times New Roman";
    font-size: 20px;
}
.leter14{
    position: absolute;
    left:10px;
    bottom:5%;
    top:25%;
    color: black;
    font-family:"Times New Roman";
    font-size: 20px;
}
.circle2 {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #D31A38;
    border-radius: 50%;
    left: 128px;
    bottom: 16%;
}
.line1 {
    position: absolute;
    height: 380px;
    width: 2px;
    background-color: gray;
    /* bottom: 8%; */
    top: 27%;
    left: 55%;
}
.nibm {
    background-color: white;
    width: 350px;
    height: 85px;
    font-size: 16px;
    right: 46%;
    /* bottom: -2%; */
    top: 28%;
    left: 58%;
    border-radius: 10px;
    /* margin: auto; */
    position: relative;
    border: 2px solid #eaeaea;
    cursor: pointer;
    display: inline-block;
    transition: all 0.4s;
}
.nibm:hover{
    box-shadow: 0px 3px 8px 0px #ccc;
    border: 1px solid transparent;
}
.date4{
    position: absolute;
    bottom: 38%;
    left: 10px;
}
.leter15{
    position: relative;
    left:10px;
    top:3%;
    color:black;
    font-family: "Times New Roman";
    font-size: 20px;
}
.leter16{
    position: absolute;
    left:10px;
    bottom:5%;
    top:25%;
    color: black;
    font-family:"Times New Roman";
    font-size: 20px;
}
.circle3 {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #D31A38;
    border-radius: 50%;
    left: 735px;
    bottom: 75%;
    top: 40%;
}
.ijse {
    background-color: white;
    width: 350px;
    height: 85px;
    font-size: 16px;
    right: 0;
    top: 56%;
    left: 32%;
    /* bottom: -10%; */
    border-radius: 10px;
    /* margin: auto; */
    position: relative;
    border: 2px solid #eaeaea;
    cursor: pointer;
    transition: all 0.4s;
    display: inline-block;
}
.ijse:hover{
    box-shadow: 0px 3px 8px 0px #ccc;
    border: 1px solid transparent;
}
.date5{
    position: absolute;
    bottom: 38%;
    left: 10px;
}
.leter17{
    position: relative;
    left:10px;
    top:3%;
    color:black;
    font-family: "Times New Roman";
    font-size: 20px;
}
.leter18{
    position: absolute;
    left:10px;
    bottom:5%;
    top:25%;
    color: black;
    font-family:"Times New Roman";
    font-size: 20px;
}
.circle4 {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #D31A38;
    border-radius: 50%;
    left: 736px;
    top: 68%;
}
/*-------------------------------assigemnets------------------------------------------------*/
.assignment{
    height: 90vh;
    width: 100%;
    background-size: 100vw 100vh;
    background:#5A5555;
    position: relative;
    font-size: 0;
}
.ass{
    color: #D31A38;
    /*text-decoration: underline #D31A38;*/
    font-family: "Times New Roman";
    font-size: 35px;
    position: absolute;
    bottom: 80%;
    right: 75%;
    /*mso-border-shadow: 0px 3px 8px 0px #D31A38;*/
}
.assignment01 {
    width: 225px;
    height: 225px;
    background-color: #373030;
    border-radius: 15%;
    position: absolute;
    right: 70%;
    bottom: 35%;
    transition-duration: 3s;
    transition-property: all;
    transition: 3s;
}
.assignment01:hover{
    transition-duration: 3s;
    transition-property:all;
    background-color:  #D31A38;
    transform: scale(1.05, 1.05);
    z-index: 2;
}
.img5{
    position: absolute;
    left: 35%;
    top: 20%;
}
.txt{
    position: relative;
    top: 60%;
    left: 16%;
    font-size: 20px;
    transition-duration: 0.3s;
    transition-property:all;
}
.txt:hover{
    transition-duration: 0.3s;
    transition-property:all;
    color:white;
}

.arti1{
    position: relative;
    top: 65%;
    left: 10%;
    color: white;
    font-family: "Lucida Sans";
    font-size: 18px;
}
.assignment02 {
    width: 225px;
    height: 225px;
    background-color: #373030;
    border-radius: 15%;
    position: absolute;
    bottom: 35%;
    left: 41.5%;
    transition-duration: 3s;
    transition-property: all;
    transition: 3s;
}
.assignment02:hover{
    transition-duration: 3s;
    transition-property:all;
    background-color:  #D31A38;
    transform: scale(1.05, 1.05);
    z-index: 2;
}
.img6{
    position: absolute;
    left: 35%;
    top: 22%;
}
.txt3{
    position: relative;
    left: 16%;
    top: 60%;
    transition-duration: 3s;
    transition-property:all;
    font-size: 20px;
}
.txt3:hover{
    transition-duration: 3s;
    transition-property:all;
    color:white;
}
.assignment03 {
    width: 225px;
    height: 225px;
    background-color: #373030;
    border-radius: 15%;
    position: relative;
    bottom: 35%;
    top: 27%;
    left: 70%;
    transition-duration: 3s;
    transition-property: all;
    transition: 3s;
    display: inline-block;
}
.assignment03:hover {
    transition-duration: 3s;
    transition-property: all;
    background-color: #D31A38;
    transform: scale(1.05, 1.05);
    z-index: 2;
}
.img7{
    position: absolute;
    left: 35%;
    top: 25%;
}
.txt4{
    position: absolute;
    left: 17%;
    top: 60%;
    transition-duration: 3s;
    transition-property:all;
    font-size: 20px;
}
.txt4:hover{
    transition-duration: 3s;
    transition-property:all;
    color:white;
}
.arti1 {
    position: relative;
    top: 47%;
    color: white;
    font-family: "Lucida Sans";
    font-size: 18px;
    left: 11%;
    width: 1000px;
}
.butn1 {
    position: absolute;
    background: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    /* letter-spacing: 2px; */
    font-weight: 300;
    padding: 0 18px;
    transition: 0.5s;
    left: 83%;
    top: 73%;
    border-radius: 8px;
}
.b1{
    color: white;
}
.butn1:hover{
    letter-spacing: 0.25em;
    background-color: #D31A38;
    box-shadow: 0 0 35px #D31A38 ;
}
.b1:hover{
    color: #D31A38;
}
.butn1:before{
    content:'';
    position: absolute;
    inset: 2px;
    background: #5A5555;
}
.butn1 span{
    position: relative;
    z-index: 1;
}
.butn1 i{
    position: absolute;
    inset: 0;
    display: block;

}
.butn1 i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height:4px;
    background: #5A5555;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.butn1:hover i::before{
    width: 20px;
    left: 20%;
}
/*-------------------------project--------------------------------*/
.project{
    height: 90vh;
    width: 100%;
    background-size: 100vw 100vh;
    background:#242124;
    position: relative;
    font-size: 0;
}
.pro{
    color: #D31A38;
    /*text-decoration: underline #D31A38;*/
    font-family: "Times New Roman";
    font-size: 35px;
    position: absolute;
    bottom: 80%;
    right: 42%;
}
.project h2{
    color: white;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 0.5rem;

    /*position: absolute;*/

}
.project-container .project-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #D31A38;
    overflow: hidden;
    display: flex;
    top: 65%;
}
.project-box img{
    width: 100%;
    transition: .5s ease;
}
.project-box :hover img{
    transform: scale(1.1);
}
.project-box .project-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0,0,0,.1),#D31A38);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}
.project-box:hover .project-layer{
    transform: translateY(0);

}
.project-layer h2{
    font-size:23px;
    font-family: "Lucida Sans";
    right: 25%;
    position: relative;

}
.project-layer p{
    font-size: 15px;
    margin: .3px 0 1px;
    color: white;
    right: 25%;
    position: relative;
}
.project-box{
    width: 250px;
    height: 250px;
    /*bottom: 28%;*/
    top:60%;
    left: 20%;
}
.arti2 {
    top: 86%;
    position: absolute;
    color: white;
    font-family: "Lucida Sans";
    font-size: 18px;
    bottom: 100%;
    left: 30%;
}
.btn2 {
    position: absolute;
    background: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    /* letter-spacing: 2px; */
    font-weight: 300;
    padding: 0 18px;
    transition: 0.5s;
    left: 83%;
    top: 78%;
    border-radius: 8px;
}
.b2{
    color: white;
}
.btn2:hover{
    letter-spacing: 0.25em;
    background-color: #D31A38;
    box-shadow: 0 0 35px #D31A38 ;
}
.b2:hover{
    color: #D31A38;
}
.btn2:before{
    content:'';
    position: absolute;
    inset: 2px;
    background: #5A5555;
}
.btn2 span{
    position: relative;
    z-index: 1;
}
.btn2 i{
    position: absolute;
    inset: 0;
    display: block;

}
.btn2 i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height:4px;
    background: #5A5555;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.btn2:hover i::before{
    width: 20px;
    left: 20%;
}
/*-------------------------------------------certificate----------------------------------*/
.certificate{
    height: 90vh;
    width: 100%;
    background-size: 100vw 100vh;
    background: #373030;
    position: relative;
    font-size: 0;
}
.certificate h3{
    color: #D31A38;
    /*text-decoration: underline #D31A38;*/
    font-family: "Times New Roman";
    font-size: 35px;
    position: absolute;
    bottom: 85%;
    right: 12%;
}
.certificate1{
    position: relative;
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373030;
    left: 70%;
    bottom: 30%;
    top:28%;
    border-radius: 10%;
    overflow: hidden;
    border:2px solid gray;

}
.certificate1::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    background: linear-gradient(#D31A38,#ffffff);
    animation: rotate 4s linear infinite;

}
.certificate1::after{
    content: '';
    position: absolute;
    background: #373030;
    inset: 5px;
    border-radius: 10%;

}
@keyframes rotate {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }

}
.c1{
    position: absolute;
    right: 18%;
    left:74.5%;
    bottom: 45%;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    transition: 1s;
    display: block;

}
.c1:hover {
    transform: scale(1.5, 1.5);
    z-index: 2;
}
.certificate2{
    position: relative;
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373030;
    left: 40%;
    bottom: 12.5%;
    /*top:5%;*/
    border-radius: 10%;
    overflow: hidden;
    border:2px solid gray;

}
.certificate2::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    background: linear-gradient(#D31A38,#ffffff);
    animation: rotate1 4s linear infinite;

}
.certificate2::after{
    content: '';
    position: absolute;
    background: #373030;
    inset: 5px;
    border-radius: 10%;

}
@keyframes rotate1 {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }

}
.c2{
    position: absolute;
    right: 20%;
    left:45%;
    bottom: 45%;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    transition: 1s;
    display: block;

}
.c2:hover {
    transform: scale(1.5, 1.5);
    z-index: 2;
}

.certificate3{
    position: relative;
    width: 225px;
    height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #373030;
    left: 11%;
    bottom: 53%;
    border-radius: 10%;
    overflow: hidden;
    border:2px solid gray;

}
.certificate3::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 140%;
    background: linear-gradient(#D31A38,#ffffff);
    animation: rotate2 4s linear infinite;

}
.certificate3::after{
    content: '';
    position: absolute;
    background: #373030;
    inset: 5px;
    border-radius: 10%;

}
@keyframes rotate2 {
    from{
        transform: rotate(0deg)
    }
    to{
        transform: rotate(360deg);
    }

}
.c3{
    position: absolute;
    right: 30%;
    left: 207px;
    bottom: 45%;
    box-shadow: 0 0 5px 1px rgba(0,0,0,.1);
    transition: 1s;
    display: block;

}
.c3:hover {
    transform: scale(1.5, 1.5);
    z-index: 2;
}
.arti9{
    font-family: "Lucida Sans";
    color: white;
    top:75%;
    right: 20%;
    position: absolute;
    font-size: 18px;
}
/*-----------------------------ACTIVITIES----------------------------------------*/
main>section:last-child{
    height: 90vh;
    width: 100%;
    background-size: 100vw 100vh;
    background:black;
    position: relative;
    font-size: 0;

}

.ac{
    color: white;
    font-family: "Times New Roman";
    font-size: 40px;
    position: absolute;
    /*text-decoration: underline white;*/
    right: 80%;
    bottom: 80%;
}
.pic10{
    width: 250px;
    height: 300px;
    border: 4px solid #D31A38;
    position: absolute;
    right:900px;
    bottom: 140px;
    border-radius: 15px;
    transition-duration: 1s;
    transition-property:all;
}
.pic10:hover{
    transition-duration: 6s;
    transition-property:all;
    border:2px solid white;
}
.picture1{
    left: 8px;
    top: 20px;
    position: absolute;
    transition: 3s;
}
.picture1:hover {
    transform: scale(1.5, 1.5);
    z-index: 2;
}
.pic11 {
    width: 575px;
    height: 300px;
    border: 4px solid #D31A38;
    position: absolute;
    border-radius: 15px;
    left: 40%;
    top: 130px;
    transition-duration: 6s;
    transition-property: all;
}
.pic11:hover{
    transition-duration: 6s;
    transition-property:all;
    border:2px solid white;
}
.picture2{
    position: relative;
    top:25px;
    left: 20px;
    transition: 1s;
}
.picture2:hover {
    transform: scale(1.5, 1.5);
    z-index: 2;
}
.picture3{
    position: relative;
    top:25px;
    left: 20px;
    transition: 1s;
}
.picture3:hover {
    transform: scale(1.5, 1.5);
    z-index: 2;
}
.arti20{
    color: white;
    font-size: 18px;
    font-family: "Lucida Sans";
    position: absolute;
    top:98%;
    right: 65%;
}
.arti21{
    color: white;
    font-size: 18px;
    font-family: "Lucida Sans";
    position: absolute;
    top: 78%;
    left: 40%;
}
/*-----------------------------last------------------------------*/
/*.last{*/
/*    background-color: #D31A38;*/
/*    position: relative;*/
/*    !*font-size: 0;*!*/
/*}*/
/*-----------------------------------------media query----------------------------------------------------*/
@media all and (max-width: 320px) {

    header > nav > ul {
        top: 0%;
        left: 10px;
    }

    .name {
        font-size: 5px;
        top: 28%;
        left: 1%;
    }

    header > nav > ul > li {
        font-size: 3px;
    }
/*-------------------------------------home page------------------------------*/
    .imge30 {
        width: 130px;
        height: 130px;
        bottom: 60%;
        left: 32%;
    }
    .social-media a {
        text-decoration: none;
        font-size: 30px;
        width: 25px;
        height: 25px;
    }
    .fb {
        /*position: absolute;*/
        left: 27%;
        top: 89%;
    }
    .linkedin {
        /*position: absolute;*/
        top: 89%;
        left: 44%;
    }
    .git {
        /*position: absolute;*/
        top: 89%;
        left: 61%;
    }
    .div1 h1 {
        font-size: 19px;
        /*color: white;*/
    }
    .oneee {
        top: 43%;
        left: 9%;
    }
    .twooo {
        top: 48%;
    }
    .threee {
        font-size: 12px;
        top: 51%;
        left: 13%;
    }
/*-------------------------------aboutme------------------------------*/
    .me {
        height: 167px;
        left: 21%;
        top: 16%;
    }
    .about {
        font-size: 24px;
        left: 24%;
        top: 3%;
    }
    .details1 {
        font-size: 9px;
        top: 74%;
        left: 12%;
    }
    .details2 {
        font-size: 9px;
        top: 47%;
        left: 10%;
    }
/* -----------------------------------------contact me   --------------------------------*/

    .h2 {
        font-size: 24px;
        right: 38%;
    }

    .location {
        width: 25px;
        height: 25px;
        bottom: 79%;
        left: 7%;
    }
    .a1 {
        font-size: 9px;
        bottom: 78%;
    }
    .tele {
        width: 25px;
        height: 25px;
        bottom: 67%;
        left: 7%;
    }
    .a2 {
        font-size: 9px;
        bottom: 66%;
    }
    .linkedinnn2 {
        width: 25px;
        height: 25px;
        bottom: 55%;
        left: 7%;
    }
    .a3 {
        font-size: 9px;
        bottom: 54%;
    }
    .email {
        width: 25px;
        height: 25px;
        bottom: 43%;
        left: 7%;
    }
    .a4 {
        bottom: 42%;
        font-size: 9px;
    }
/*---------------------------------skills---------------------------*/
    main>section:nth-child(4)>h3 {
        font-size: 25px;
        right: 9%;
        bottom: 89%;
    }
    .scnebuilder {
        width: 50px;
        height: 50px;
        top: 81px;
        left: 10%;
    }
    .mysql {
        height: 50px;
        width: 50px;
        top: 78px;
        left: 1px;
    }
    .php {
        height: 50px;
        width: 50px;
        top: 88px;
        right: 19px;
    }
    .intellj {
        height: 50px;
        width: 50px;
        top: 90px;
        left: 28px;
    }
    .figma {
        height: 50px;
        width: 50px;
        top: 69px;
        right: -78px;
    }
    .java {
        height: 50px;
        width: 50px;
        top: 63px;
        right: -73px;
    }
    .js {
        height: 50px;
        width: 50px;
        right: -58px;
        top: 65px;
    }
    .leter2 {
        font-size: 9px;
        bottom: 23%;
        left: 11%;
    }

    .leter3 {
        font-size: 9px;
        bottom: 28%;
        left: 11%;
    }
    .design1 {
        width: 77px;
        height: 77px;
        left: 27%;
    }
    .leter {
        font-size: 11px;
        left: 30%;
        top: 43%;
    }
    .ppp {
        font-size: 8px;
        left: 10%;
        top: 64%;
    }

    .ui {
        left: 18%;
        height: 158px;
        width: 193px;
        top: 12%;
    }
    .web {
        height: 158px;
        width: 193px;
        top: 39%;
        left: 17%;
    }
    .design2 {
        width: 77px;
        height: 77px;
        left: 31%;
    }
    .leter1 {
        font-size: 11px;
        left: 36%;
        top: 43%;
    }
    .ppp2 {

        font-size: 8px;
        left: 8%;
        top: 64%;


    }








}















