*{
    scroll-behavior: smooth;
}

body{
    position: absolute;
    padding: 16px;
    top:5px;
    left: 5px;
    margin:0;
    border-radius: 25px;
    background: gray;
    z-index: 3;

}
header{
    height: 50px;
    width: 50vw;
    position: fixed;
    left: 0;
    right: 0;
    top:5px;
    margin:auto;
    box-shadow:1px 2px 9px 1px  ;
    z-index: 3;
    background: gray;
    border-radius:15px ;
}
header>nav>menu>pre>a{
    display: inline-block;
    padding: 8px;
    text-decoration:none;
    color: white;
    padding-right:2px;
}
main{
    position: relative;
    top:10px;
    z-index:1;
    padding-left:50px;
    padding-right:50px;
}
main>section{
    width: 95vw;
    height: 95vh;
    background: white;
    border-radius: 10px;
    box-shadow :0px 0px 3px 0px #6b5a5a;
    filter: saturate(1.4);
}
main>section>hgroup>h1{
    background: white;
}

main>section:nth-child(1){
    background:url("../../assets/image/home.png" );
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
/*main>section>aside>img{*/
/*    padding-left:500px ;*/
/*    padding-bottom: 200px;*/
/*}*/