*{
    scroll-behavior: smooth;
}

body{
    position: absolute;
    padding: 16px;
    top:5px;
    left: 5px;
    margin:0;
    border-radius: 25px;
    background: gray;
    z-index: 3;

}
header{
    height: 50px;
    width: 50vw;
    position: fixed;
    left: 0;
    right: 0;
    top:30px;
    margin:auto;
    border-radius:10px;
    z-index: 3;
    justify-content: space-between;
}
header>nav>menu>pre>a{
    display: inline-block;
    padding: 8px;
    text-decoration:none;
    color: white;
    padding-right:6px;
    font-size:15px ;
}
main{
    position: relative;
    top:10px;
    z-index:1;
    padding-left:50px;
    padding-right:50px;

}
main>section{
    width: 95vw;
    height: 100vh;
    background: white;
    border-radius: 10px;
    box-shadow :0px 0px 3px 0px #6b5a5a;
    filter: saturate(1.4);
    margin:0px;
    display: inline-block;
}

main>section:nth-child(1){
    background:url("../../assets/image/home.png" );
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
main>section:nth-child(1)>aside{
        padding-left: 950px;
        padding-top: 200px;
}
main>section:nth-child(1)>section>hgroup>h1:nth-child(1){
    color: white;
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 34%;
    top: 25%;
    position: absolute;
    margin: auto;

}
main>section:nth-child(1)>section>hgroup>h1:nth-child(2){
    color: white;
    font-size:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 34%;
    top: 32%;
    position: absolute;
    margin: auto;

}
main>section:nth-child(1)>section>article>pre>h3{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 38%;
    top: 43%;
    position: absolute;
    margin: auto;
}

main>section:nth-child(2){
    background-color:#373030;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

}
main>section:nth-child(3){
    background-color:#000000;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size:20px;
    color: white;

}

/*main>section>aside>img{*/
/*    padding-left:500px ;*/
/*    padding-bottom: 200px;*/
/*}*/