* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body{
    position: relative;
    padding: 16px;
    top:5px;
    left: 5px;
    margin:0;
    border-radius: 25px;
    background: gray;
    z-index: 3;
}
section{
    height: 100vh;
    width: 95vw;
    padding: 10rem 9% 2rem;
}
header{
    position: fixed;
    left: 0;
    top:0;
    display: flex;
    margin:auto;
    justify-content: space-between;
    z-index: 100; align-items: center;
    padding-left:45%;
    padding-top: 5%;
    font-family: "Corbel Light";
    background-color: #373030;
    width:99vw;
    height:59px;

}
header nav>div>menu{
    position: relative;
    bottom:6vh;
}

header nav>div>menu>li{
    display: inline-flex;
    margin-left: 10px;
}

header nav>div>menu>li>a{
    color: white;
    font-family: Libre Baskerville;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    padding: 1vh;
}
header>nav>menu>pre>a:hover,header>nav>menu>pre>a:active{
    color: #D31A38;
}

main{
    position: relative;
    top:10px;
    z-index:1;
    padding-left:50px;
    padding-right:50px;

}
/*main>section{*/
/*    width: 95vw;*/
/*    height: 100vh;*/
/*    background: white;*/
/*    border-radius: 10px;*/
/*    box-shadow :0px 0px 3px 0px #6b5a5a;*/
/*    filter: saturate(1.4);*/
/*    margin:0px;*/
/*    display: inline-block;*/
/*}*/

/*----------------------------------------Home------------------------------------------------------*/
main>section:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    position: relative;
}

main>section:nth-child(1)>div:nth-child(1)>h1:nth-child(1){
    font-size:40px;
    color: white;


}
main>section:nth-child(1)>div:nth-child(1)>h1:nth-child(2){
    font-size:40px;
    color: white;
}
main>section:nth-child(1)>div:nth-child(1)>pre>h3{
    font-size:20px;
    color: white;
    padding-left: 20px;
}
main>section:nth-child(1)>div:nth-child(1){
    padding-bottom:15%;
    padding-left:10%;
    padding-top: 8%;
}
main>section:nth-child(1)>div:nth-child(2){
    margin-left: -110vh;
    margin-top: 14vh;

}
main>section:nth-child(1)>div:nth-child(3){
    margin-top: -24vh;
    margin-right: 8vh;

}
#ABOUT ME{
    width: 100%;
    height: 80vh;
    position: relative;
    box-sizing: border-box;

}
/*------------------------------------------------About Me---------------------------------*/

main>section:nth-child(2) #Aone{
    position: relative;
    left: -27vw;
    width: 31vw;
    top: 4vh;
}
main>section:nth-child(2)>#Aone>img{
    width: 30vw;
}

main>section:nth-child(2) aside:last-child{
    width: 50vw;
    height: 40vh;
    position: absolute;
    right: 5vw;
    top: 0;
    bottom: 32vh;
    margin: auto;
}

main>section:nth-child(2) aside:last-child>p:first-child{
    color: #ffffff;
    font-family: Libre Baskerville, serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main>section:nth-child(2) aside:last-child>p:first-child span{
    color:white;
    font-family: Libre Baskerville, serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 5vh;
}

main>section:nth-child(2) aside:last-child>p:last-child{
    color: white;
    font-family: Libre Baskerville, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 5vh;
    position: relative;
    top: 5vh;
}
main>section:nth-child(2) aside:last-child>p:last-child>span:last-child{
    color:white;
}


main>section:nth-child(2) aside:last-child>p:last-child>span{
    color:#D31A38 ;
    font-family: Libre Baskerville, bolt;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
span{
    color: #D31A38;
}

main>section:nth-child(3){
    margin-top: 0;
    text-align: center;
    font-family: 'Catamaran';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
}
#CONTACT ME{
    width: 100%;
    height: 111vh;
    position: relative;
    box-sizing: border-box;
    background: #CAF0F8;

}


main>section:nth-child(1)>div:nth-child(2)>a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 4px solid darkgrey;
    border-radius:25%;
    font-size: 25px;
    color: darkgrey;
    margin: 30px 15px 30px 0;
    transition:5s ease;

}

main>section:nth-child(1)>div:nth-child(2)>a:hover{
    background: #D31A38;
    color: white;
    box-shadow:0 0 10px #D31A38;
}

main>section:nth-child(1){
    background:url("../../assets/image/home.png" );
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main>section:nth-child(2){
    background-color:#373030;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
    box-shadow: #D31A38;

}
main>section:nth-child(2)>div:nth-child(3){
    position: absolute;
    width: 35vw;
}
main>section:nth-child(2)>div:nth-child(1){
    text-align: right;
    font-size: 20px;
    color: white;
    padding-bottom: 60%;
    padding-left:10%;
    text-decoration:underline white;
}


main>section:nth-child(2)>div:nth-child(2){
    text-align: right;
    font-size: 20px;
    color: white;
    padding-left: 100px;
    padding-bottom: 150px;
}
main>section:nth-child(2)>div:nth-child(2)>address{
    font-size: 18px;
    padding-left:15%;
}

/*-----------------Contact me-----------------------*/

main>section:nth-child(3){
    position: relative;
    background-color:#000000;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-size:20px;
    color: white;
    display: flex;
    align-items: center;
    margin:0;
    padding: 0;
}
main>section:nth-child(3)>h2{
    position: absolute;
    left: 70%;
    top: 15%;
    text-decoration:underline white;
    font-family: "Times New Roman";
    font-size: 30px;
}
main>section:nth-child(3)>a{
    color:#D31A38;
    font-size: 20px;
    font-family: "Corbel Light";
}
.image1{
    position: absolute;
    left: 20%;
}

 .a1{
     position: absolute;
     top: 28%;
     left: 30%;
}
 .a2{
     position: absolute;
     top: 40%;
     left: 30%;
 }
.a3{
    position: absolute;
    top: 53%;
    left: 30%;
}

.a4{
    position: absolute;
    top: 65%;
    left: 30%;
}


/*-----------------Skills-----------------------*/

main>section:nth-child(4){
    background-color: #373030;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:120vh ;
}
main>section:nth-child(4)>h3{
    text-decoration: underline white;
    font-size: 30px;
    color: white;
    bottom: 90%;
    position: absolute;
    right: 85%;
    font-family: "Times New Roman";

}
.ui{
    position: relative;
    height: 275px;
    width: 400px;
    border: 4px solid #D31A38 ;
    bottom: 30%;
    right:15%;
    left: 1%;
    color:white;
}
.web{
    position: relative;
    height: 275px;
    width: 400px;
    border: 4px solid #D31A38 ;
    bottom: 30%;
    left: 10%;
    color:white;
}
.design1{
    position: absolute;
    left: 35%;
}
.text{
    position:relative;
    top: 40%;
    right: 10%;

}
.leter{
    position: relative;
    left: 43%;
    font-size: 18px;
}

.design2{
    position: absolute;
    left: 35%;
}
.text1{
    position:relative;
    top: 40%;
    right: 9%;

}
.leter1{
    position: absolute;
    left: 43%;
    font-size: 18px;
}
.leter3{
    position: absolute;
    top:60%;
    right: 15%;
    color:white;
}
.leter2{
    position: absolute;
    top: 65%;
    right: 980px;
    color: white;
}
.pic{
    position: absolute;
    right: 45%;
    bottom: 15%;
}

.pic1{
    position: absolute;
    right: 15%;
    bottom: 15%;
}
.php{
    position: relative;
    right:41px;
}
.mysql{
    position: relative;
    right: 20px;
}
/*-------------------------------------------Gallery-----------------------------------------*/
main>section:nth-child(5){
    background:url("../../assets/image/WhatsApp Image 2023-06-28 at 02.07 5.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height:120vh;
}









/*-------------------------------------------Education-----------------------------------------*/


main>section:nth-child(6) {
    background-color: #373030;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 130vh;
}
main>section:nth-child(6)>h3{
    text-decoration: underline white;
    font-size: 30px;
    color: white;
    bottom: 90%;
    position: absolute;
    right: 85%;
    font-family: "Times New Roman";
    left:8%;
}
.shape{
    position: absolute;
    height:625px;
    width:5px;
    background-color:white;
    bottom: 8%;
}
.arrow1{
    color:white;
    right: 25%;
    position: absolute;
    top: 10%;
}
.school{
  background-color: #D31A38;
    width: 350px;
    height: 60px;
    font-size:16px;
    border:2px solid grey;
    box-shadow: 2px 4px 10px gray;
    right: 675px;
    bottom: 70%;
    position: absolute;

}
.leter9{
    position: relative;
    left:5%;
    top:10%;
    color:white;
    font-family: "Lucida Sans";
}
.leter10{
    position: relative;
    left:15%;
    bottom:20%;
    color: white;
    font-family: "Lucida Sans";
}
.ol{
    background-color: #D31A38;
    width: 400px;
    height:60px;
    border:2px solid grey;
    box-shadow: 2px 4px 10px gray;
    position: absolute;
    right:218px;
    top :34%
}
.leter11{
    position: relative;
    font-family: "Lucida Sans";
    color: white;
    left: 10%;
    top:20%
}
.leter12{
    position: relative;
    font-family: "Lucida Sans";
    color: white;
    bottom: 5%;
    left: 15%;
}
.arrow2{
    color:white;
    position: absolute;
    top:25%
}
.al{
    background-color: #D31A38;
    border:2px solid grey;
    box-shadow: 2px 4px 10px gray;
    position: absolute;
    height:60px;
    width: 480px;
    right: 52%;
    top: 45%;

}
.leter13{
    color: white;
    position: relative;
    font-family: "Lucida Sans";
    top:18%;
    left: 3%;
}
.leter14{
    color: white;
    position: relative;
    font-family: "Lucida Sans";
    left: 12%;
    bottom:5%;
}
.arrow3{
    color:white;
    position: absolute;
    top: 41%;
    right:5%;
}
.nibm{
    background-color: #D31A38;
    border:2px solid grey;
    box-shadow: 2px 4px 10px gray;
    position: absolute;
    height:60px;
    width: 430px;
    left:680px;
    top: 500px;
}
.leter15{
    color: white;
    position: relative;
    font-family: "Lucida Sans";
    left: 5%;
    top:15%;
}
.leter16{
    color: white;
    position: relative;
    font-family: "Lucida Sans";
    left: 25%;
    bottom: 10%;
}
.arrow4{
    color:white;
    position: absolute;
    top:60%;
}
.ijse{
    background-color: #D31A38;
    border:2px solid grey;
    box-shadow: 2px 4px 10px gray;
    position: absolute;
    right: 675px;
    top:72%;
    height: 60px;
    width: 480px;

}
.leter17{
    color: white;
    position: relative;
    font-family: "Lucida Sans";
    left: 3%;
    top: 10%;

}
.leter18{
    color: white;
    position: relative;
    font-family: "Lucida Sans";
    left: 35%;
    bottom: 10%;

}
.arrow5 {
    color: white;
    position: absolute;
    top: 78%;
    right:10%;

}

/*---------------------------------------------Assignments-----------------------------------------*/
.assignment{
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    background-size: cover;
    background-position: center;
    background-color: darkgrey;
    top: 95%;
    height: 80vh;
   background-color: #5A5555;
}
.ass{
    color: #D31A38;
    text-decoration: underline #D31A38;
    font-family: "Times New Roman";
    font-size: 25px;
    position: absolute;
    bottom: 85%;
    right: 80%;

}
.assignment01{
    width: 225px;
    height: 225px;
    background-color:#373030;
    border-radius: 15%;
    position: absolute;
    right: 70%;
    bottom: 30%;
    transition-duration: 3s;
    transition-property:all;
}
.assignment01:hover{
    transition-duration: 3s;
    transition-property:all;
    background-color:  #D31A38;
}
.img5{
    position: absolute;
    left: 35%;
    top: 20%;
}
.txt{
    position: relative;
    top: 65%;
    left: 22%;
    transition-duration: 3s;
    transition-property:all;
}
.txt:hover{
    transition-duration: 3s;
    transition-property:all;
    color:white;
}

.arti1{
    position: relative;
    top: 50%;
    color: white;
    font-family: "Lucida Sans";
    font-size: 18px;
}
.assignment02{
    width: 225px;
    height: 225px;
    background-color:#373030;
    border-radius: 15%;
    position: absolute;
    bottom: 30%;
    left: 40%;
    transition-duration: 3s;
    transition-property:all;
}
.assignment02:hover{
    transition-duration: 3s;
    transition-property:all;
    background-color:  #D31A38;
}
.img6{
    position: absolute;
    left: 35%;
    top: 22%;
}
.txt3{
    position: relative;
    left: 25%;
    top: 65%;
    transition-duration: 3s;
    transition-property:all;
}
.txt3:hover{
    transition-duration: 3s;
    transition-property:all;
    color:white;
}
.assignment03{
    width: 225px;
    height: 225px;
    background-color:#373030;
    border-radius: 15%;
    position: absolute;
    bottom: 30%;
    left: 68%;
    transition-duration: 3s;
    transition-property:all;
}
.assignment03:hover {
    transition-duration: 3s;
    transition-property: all;
    background-color: #D31A38;
}
.img7{
    position: absolute;
    left: 35%;
    top: 25%;
}
.txt4{
    position: relative;
    left: 25%;
    top: 65%;
    transition-duration: 3s;
    transition-property:all;
}
.txt4:hover{
    transition-duration: 3s;
    transition-property:all;
    color:white;
}
.butn1{
    position: relative;
    background: white;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    /*letter-spacing:2px;*/
    font-weight: 300;
    padding: 8px 12px;
    transition: 0.5s;
    left: 80%;
    top: 32%;
    border-radius: 8px;
}
.b1{
    color: white;
}
.butn1:hover{
    letter-spacing: 0.25em;
    background-color: #D31A38;
    box-shadow: 0 0 35px #D31A38 ;
}
.b1:hover{
    color: #D31A38;
}
.butn1:before{
    content:'';
    position: absolute;
    inset: 2px;
    background: #5A5555;
}
.butn1 span{
    position: relative;
    z-index: 1;
}
.butn1 i{
    position: absolute;
    inset: 0;
    display: block;

}
.butn1 i::before{
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height:4px;
    background: #5A5555;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.butn1:hover i::before{
    width: 20px;
    left: 20%;
}






